.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.btn-search {
  margin: .65rem .25rem;
}

.btn-action {
  margin: .15rem;
}
